@import url("https://fonts.googleapis.com/css?family=Poppins");


table
{
  width:50%;
}
.styled-table {
  border-collapse: collapse;
  /* margin: auto; */
  font-size: 0.7em;
  font-family: "Poppins";
  width:100%;
  table-layout: fixed; /* Ensures the table layout is fixed */
  max-width: 100%;
  box-shadow: 0 17px rgba(1, 119, 237, 0.805);
}

.styled-table thead tr {
  background-color: #3386ff;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 8px 8px;
  word-wrap: break-word; /* Ensures long words break and do not cause overflow */
}


.styled-table tbody tr {
  border-bottom: 1px solid #4f8dd8;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #cddfe4;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #058daf;
}
.btn {
  font-family: "Poppins";
  border: none;
  color: rgb(255, 255, 255);
  padding: 5px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 12px;
  margin: 2px 4px;
  cursor: pointer;
}
.btn-edit {
  background-color: #3386ff;
  opacity: 75;
}
.btn-delete {
  background-color: #57a5e6;
}
.btn-view {
  background-color: #4987f2;
  color: black;
}
.btn-contact {
  background-color: #3385ffdf;
  margin-bottom: 10px;

}

/* Admin.css */

/* Outer overlay */
/* Admin.css */

/* Ensures that the modal overlay covers the entire viewport */
.modal-overlay {
    position: fixed; /* Stays in place while scrolling */
    top: 0;
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex; /* Center the modal content */
    align-items: center;
    justify-content: center;
    overflow:auto; /* Prevent scrolling of the overlay */
    z-index: 1000; /* Ensure it's on top of other content */
}

/* Styles for the modal content */
.modal-content {
    background: #fff; /* White background for the modal */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding around the content */
    max-width: 80vw; /* Maximum width of the modal */
    
    overflow:auto; /* Allow scrolling if content exceeds the max height */
    position: relative;
}

/* Style for the close button */
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}
